
{{ partial "header" . }}

  <div class="py-5 bg-light" >
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">{{ .Title }}</h1>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-calendar-alt"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Wanneer?</b></h5>
                </div>
              </div>
              <p>23-25 november</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-map-marker-alt"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Waar?</b></h5>
                </div>
              </div>
              <p>In … bij Antwerpen in België. Meer info over de locatie volgt.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-euro-sign"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Kosten</b></h5>
                </div>
              </div>
              <p>30 euro pp</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-users"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>&nbsp; &nbsp; Voor wie</b></h5>
                </div>
              </div>
              <p>Idealisten. Of. Mensen die van stilte houden. Of. Mensen die dromen &amp; ideeën hebben voor het KloosterBoerderijFestival 2019. Of. Mensen die zin hebben in mooie ontmoetingen met bevlogen mensen. Of mensen die een combi van bovenstaande zijn.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-clipboard-list"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Programma idee</b></h5>
                </div>
              </div>
              <p contenteditable="true">Van vrijdagavond tot zondagmiddag. 3x per dag Taizé gebed. 3x per dag een maaltijd.<br>Zaterdagochtend werken – tuinieren, schilderen, klusjes, dat soort dingen.<br>Zondagochtend: viering<br><br>Verder is er tijdens het hele weekend ‘muur’: ‘pop-up workshops die ontstaan van uit de deelnemers. Van wandelen tot liedjeszingen en dromen over wereldvrede tot het plannen van concrete acties tegen kernwapens.&nbsp;<br><br>Ook gaan we tijdens het weekend met mensen die zin hebben nadenken over het festival voor zomer 2019</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-smile"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Enthousiast?</b></h5>
                </div>
              </div>
              <p>Geef je op door een mailtje te sturen naar info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl met daarin: je naam, tel nr, dieetwensen, en of je nu al ideeën hebt (en welk idee :) voor een pop-up workshop tijdens het festival.<br><br>Nog vragen? Mail ons en dan zal Nelleke of Wilma proberen je vraag te beantwoorden!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;/assets/achtergrond.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4 text-center">Programma</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Vrijdag</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 19:00 – <b>Welkom</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 20:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 21:30 – <b>Kampvuur en muziek</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Zaterdag</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 08:00 – <b>Taizé gebed met aansluitend ontbijt</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 09:30 – <b>Werken</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 12:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 13:00 - <b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 14:00 – <b>Muur: ruimte voor workshops, wandelen, creativiteit, etc.</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 16:30 – <b>Dromen over KBF 2019 + 'muur'</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 18:30 – <b>Avondmaaltijd</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 20:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 21:30 – <b>Kampvuur en muziek</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Zondag</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 09:00 – <b>Ontbijt</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 10:00 – <b>Viering</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 11:00 – <b>Koffie en aansluitend lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 13:00 - <b>Concretiseren plannen voor KBF 2019 + ‘muur’</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 15:00 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 16:00 – <b>Opruimen en snack eten</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 17:00 – <b>Einde</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{{ partial "footer.html" . }}

