<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <title>KloosterBoerderijFestival 2018</title>
  <meta name="description" content="Het KloosterBoerderijFestival is een ontmoetings- en inspiratieweek met een op het klooster geïnspireerd ritme van gebed, stilte en praktisch werk op de boerderij. Er is veel ruimte voor verdieping en discussie door workshops en lezingen over thema&#8217;s als duurzaamheid, vredeswerk, gemeenschapsleven en spiritualiteit.">
  <meta name="keywords" content="klooster boerderij festival kloosterboerderijfestival boeren gebed ritme buitenwerk inspiratie">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" type="text/css">
  <link rel="stylesheet" href="/css/theme.css" type="text/css">
  
  <script src="js/navbar-ontop.js"></script>
  
  <script src="js/animate-in.js"></script>
  
  <script type="text/javascript" src="https://www.kloosterboerderijfestival.nl/wp-includes/js/jquery/jquery.js?ver=2.7.8"></script>
  <script type="text/javascript" src="https://www.kloosterboerderijfestival.nl/wp-content/plugins/wysija-newsletters/js/validate/languages/jquery.validationEngine-nl.js?ver=2.7.8"></script>
  <script type="text/javascript" src="https://www.kloosterboerderijfestival.nl/wp-content/plugins/wysija-newsletters/js/validate/jquery.validationEngine.js?ver=2.7.8"></script>
  <script type="text/javascript" src="https://www.kloosterboerderijfestival.nl/wp-content/plugins/wysija-newsletters/js/front-subscribers.js?ver=2.7.8"></script>
  <script type="text/javascript">
     
                var wysijaAJAX = {"action":"wysija_ajax","controller":"subscribers","ajaxurl":"https://www.kloosterboerderijfestival.nl/wp-admin/admin-ajax.php","loadingTrans":"Je aanmelding wordt verstuurd..."};
                 
  </script>
  <script type="text/javascript" src="https://www.kloosterboerderijfestival.nl/wp-content/plugins/wysija-newsletters/js/front-subscribers.js?ver=2.7.8"></script>
  

  

  
  <style>
    #dummy {
      display: none;
    }
  </style>

</head>
<body class="cover">
  
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a class="nav-link text-light" href="/#"><b>KloosterBoerderijFestival</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/#venue"><b>LOCATIE</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/#selfies"><b>TEAM</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/#blog"><b>NIEUWS</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/#schedule"><b>PROGRAMMA</b></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="/#nieuwsbrief"><b>BLIJF OP DE HOOGTE</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  
  <div class="bg-light py-2"> </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Inschrijving</h1>
          <p class="lead text-muted text-center">Door het team op May 1, 2018</p>
          <p class=""><p>PLEKJEVASTHOUDER</p>
</p>
        </div>
      </div>
    </div>
  </div>




    
    <footer class="text-md-left text-center p-4 bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="my-3 col-lg-4 col-md-6">
            <h3>KloosterBoerderijFestival</h3>
            <p class="text-muted">10 - 17 augustus 2018</p>
            <p class="my-3">Nieuw Sion
              <br>Vulikerweg 6
              <br>Diepenveen (bij Deventer)</p>
            <p class="text-muted">info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl</p>  
            <a class="btn btn-lg btn-primary" href="#register">Meld je nu aan!</a>
          </div>
          <div class="my-3 col-lg-4 col-md-6">
            <a href="https://www.thegreenwebfoundation.org/directory/#9" target="blank">
              <img src="https://api.thegreenwebfoundation.org/greencheckimage/2018.kloosterboerderijfestival.nl" alt="This website is hosted Green - checked by thegreenwebfoundation.org"> </a>
          </div>
          <div class="col-lg-1"> </div>
          <div class="my-3 col-lg-3">
            <a href="https://www.facebook.com/kloosterboerderijfestival/" target="blank"><i class="fab fa-facebook-square text-muted fa-3x m-2"></i></a>
            <a href="https://github.com/KloosterBoerderijFestival/kbf-website-2018" target="blank"><i class="fab fa-github-square text-muted fa-3x m-2"></i></a>         
            
            <a href="https://travis-ci.org/KloosterBoerderijFestival/kbf-website-2018/" target="_blank">
              <img src="https://travis-ci.org/KloosterBoerderijFestival/kbf-website-2018.svg?branch=master"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">© Copyright 2018 KloosterBoerderijFestival</p>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="js/smooth-scroll.js"></script>



<script type="text/javascript">
    var _paq = _paq || [];
     
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="\/\/analytics.biomatt.nl\/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>




<script>
netlifyIdentity.init({
  APIUrl: "https://kbf2018.netlify.com/.netlify/identity"
});
</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</html>

