{{ partial "header" . }}

{{ partial "list-item" . }}

{{ if isset .Params "gallery" }}
  <div class="py-5 text-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white" contenteditable="true">Best pictures</h1>
        </div>
      </div>
      <div class="row">
      {{ range .Params.gallery}}
        <div class="col-md-3 col-6 p-1">
          <a href="{{ .image }}" data-sub-html="<h4>{{ .caption }}</h4>">
            <img src="{{ replace .image "/images/uploads" "/images/uploads/thumbnails"}}" />
        </div>
      {{ end }}
      </div>
      </div>
    </div>
  </div>
{{ end }}

{{ partial "footer.html" . }}
