{{ if isset .Params "gallery" }}
  <div class="py-5 text-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white" contenteditable="true">Best pictures</h1>
        </div>
      </div>
      <div class="row">
      <!-- Save the current page in a variable -->
      {{ $page := . }}
      <!-- Change the page to the image location -->
      {{ with .Site.GetPage "page" "images" }}
        {{ $resources := .Resources.Match "**" }}

        <!-- Remove the prefixed path from the gallery items in the frontmatter. -->
        {{ range $page.Params.gallery }}
          {{ with . }}
            {{ $.Scratch.Add "gallery" (slice (strings.TrimPrefix "/images/" .image)) }}
          {{ end }}
        {{ end }}

        <!-- Select only the images that are listed in the frontmatter -->
        {{ range where $resources ".Name" "in" ($.Scratch.Get "gallery") }}
          {{ $image200x := (.Resize "200x") }}
          <img src="{{ $image200x.RelPermalink }}" />
          <div class="col-md-3 col-6 p-1">
            <a href="{{ $image200x.RelPermalink }}" data-sub-html="<h4>{{ $image200x.RelPermalink }}</h4>">
            <img src="{{ $image200x.RelPermalink }}" />
          </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}
