  <!-- Blog -->
  <div class="bg-light py-2"> </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">{{ .Title }}</h1>
          <p class="lead text-muted text-center">Door Mattias op 12 maart 2018</p>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 text-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white" contenteditable="true">Best pictures</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_1.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_5.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_3.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_4.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_6.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_7.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_8.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_9.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_10.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_11.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_12.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_13.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_15.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_2.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_14.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_16.jpg"> </a>
        </div>
      </div>
    </div>
  </div>
