{{ partial "header" . }}

<body class="cover">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a class="nav-link text-light" href="#"><b>KloosterBoerderijFestival</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#selfies"><b>TEAM</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#getijden"><b>PROGRAMMA</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#blog"><b>NIEUWS</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#nieuwsbrief"><b>BLIJF OP DE HOOGTE</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="align-items-center py-5 section-aquamarine d-flex bg-primary" style="background-image: url('assets/kbf.png');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">Klooster Boerderij Festival</h1>
          <h1 class="display-5 d-block d-md-none">Klooster Boerderij Festival</h1>
          <h4 class="">10 - 17 augustus 2018</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Over het KBF</h1>
          <p class="lead">Het KloosterBoerderijFestival is een ontmoetings- en inspiratieweek met een op het klooster geïnspireerd ritme van gebed, stilte en praktisch werk op de boerderij. Er is veel ruimte voor verdieping en discussie door workshops en lezingen over
            thema’s als duurzaamheid, vredeswerk, gemeenschapsleven en spiritualiteit. En ’s avonds lekker eten, muziek en kampvuurtjes!</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Bidden</b></h5>
                </div>
              </div>
              <p>Als kloosterlingen drie keer per dag de rust en de ontmoeting met God opzoeken</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-venus"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Denken</b></h5>
                </div>
              </div>
              <p>Antwoorden zoeken op uitdagingen die onze cultuur ons biedt. Samen denken, zoeken en elkaar inspireren. Inspiratie zoeken in Jezus' woorden.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-neuter"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Werken</b></h5>
                </div>
              </div>
              <p>Werken Praktisch bezig zijn op de boerderij, zelf voor ons eten werken, met de handen in de modder...</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-stroke"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Vieren</b></h5>
                </div>
              </div>
              <p>Genieten, dansen, muziek, vuurtje...</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-double"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Eten</b></h5>
                </div>
              </div>
              <p>Goed, gezond, lekker eten, waar we zelf voor hebben gewerkt.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <div class="py-5 bg-light" id="speakers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary" id="selfies">Het KBF Team 2018</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-4 animate-in-left text-center">
          <a href="#">
            <img src="assets/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Wilma</b></h3>
            <p class="text-muted">UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 text-center">
          <a href="#">
            <img src="assets//people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0">Nelleke</h3>
            <p class="text-muted">UX/UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-right text-center">
          <a href="#">
            <img src="assets/people_3.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Gerrald</b></h3>
            <p class="text-muted">UX designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left text-center">
          <a href="#">
            <img src="assets/people_4.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Ronald</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 text-center">
          <a href="#">
            <img src="assets/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Roos</b></h3>
            <p class="text-muted">Bootstrap evangelist</p>
          </a>
        </div>
        <div class="col-6 mask col-lg-4 animate-in-right text-center">
          <a href="#">
            <img src="assets/people_6.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Mattias</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery -->
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_12_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_11_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_10_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_9_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_8_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_7_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_5_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_6_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_4_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_3_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img src="assets/restaurant/food_2_light.jpg" class="img-fluid"> </div>
        <div class="p-0 col-md-2 col-4">
          <img class="img-fluid" src="assets/restaurant/food_1_light.jpg"> </div>
      </div>
    </div>
  </div>
  <!-- Events -->
  <div class="py-5 bg-light" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary text-center">Nieuws</h1>
          <div class="row">
            <div class="col-md-4 p-3">
              <img class="img-fluid d-block w-100 mb-3" src="assets/kickoff.jpg">
              <p class="lead text-muted mb-1">12 maart 2018</p>
              <a href="blog.html">
                <h5 class="text-dark"><b>De voorbereidingen voor KBF 2018 zijn gestart</b></h5>
              </a>
              <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <a href="blog.html" class="btn btn-outline-primary"><b class="">Lees verder</b></a>
            </div>
            <div class="col-md-4 p-3"> </div>
            <div class="col-md-4 p-3"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel reviews -->
  <!-- Carousel venue -->
  <div class="py-5" style="background-image: url(&quot;assets/restaurant/cover_light_2.jpg&quot;);" id="venue">
    <div class="container">
      <div class="row bg-primary animate-in-down">
        <div class="p-4 col-md-6 align-self-center">
          <p class="m-0">Feel comfortable, like home</p>
          <h2>Discover the venue</h2>
          <p class="my-4">Design and architecture go together with good food. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#" class="btn mb-3 p-2 btn-light">View the gallery</a>
        </div>
        <div class="p-0 col-md-6">
          <div class="carousel slide" data-ride="carousel" id="carousel1">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="assets/restaurant/venue_1_light.jpg" alt="first slide">
                <div class="carousel-caption">
                  <h3>Dining room</h3>
                  <p>Good architecture, better food</p>
                </div>
              </div>
              <div class="carousel-item active">
                <img class="d-block img-fluid w-100" src="assets/restaurant/venue_3_light.jpg" data-holder-rendered="true">
                <div class="carousel-caption">
                  <h3>Bar</h3>
                  <p>Enjoy our long drink selection</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="assets/restaurant/venue_2_light.jpg" data-holder-rendered="true">
                <div class="carousel-caption">
                  <h3>Show cooking</h3>
                  <p>Tastes better</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="assets/restaurant/venue_4_light.jpg" data-holder-rendered="true">
                <div class="carousel-caption">
                  <h3>Relax area</h3>
                  <p>Take the time to chill</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/conference/schedule.jpg&quot;);" id="getijden">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4">Programma</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 1</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 2</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 3</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 4</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 5</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-2">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 6</h2>
              <p class="lead">Design</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Guests</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Design</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>UI trends</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Discussion</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Sponsor logos -->
    <div class="py-5 section bg-faded bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mb-4 text-primary text-center">Sponsors &amp; partners</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-6">
            <a href="http://nieuwsion.nl/" target="_blank">
              <img class="center-block img-fluid d-block" src="assets/nieuwsion.svg"> </a>
          </div>
          <div class="col-md-3 col-6"></div>
          <div class="col-md-3 col-6"></div>
          <div class="col-md-3 col-6"></div>
        </div>
      </div>
    </div>
    <!-- Call to action -->
    <div class="py-5 section-aquamarine" id="register">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-md-left text-center">
            <h1 class="text-white">Registrations are open</h1>
            <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp;
              <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
          </div>
          <div class="col-md-4 align-self-center animate-in-right">
            <a href="#" class="btn btn-lg btn-light my-3">Register now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- newsletter -->
    <div class="py-5 text-white bg-primary text-center" id="nieuwsbrief">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Nieuwsbrief</h1>
            <p class="lead mb-4">Schrijf je in voor de nieuwsbrief om op de hoogte te blijven</p>
            <form id="form-wysija-html5a663131b3133-2" method="post" action="#wysija" class="form-inline justify-content-center widget_wysija html_wysija">
              <div class="input-group my-1">
                <input type="text" value="" name="wysija[user][email]" class="form-control mr-3 my-1" id="email-address" placeholder="Type hier je email adres">
                <input type="hidden" name="form_id" value="2">
                <input type="hidden" name="action" value="save">
                <input type="hidden" name="controller" value="subscribers">
                <input type="hidden" name="wysija-page" value="1">
                <input type="hidden" name="wysija[user_list][list_ids]" value="3"> </div>
              <button type="submit" class="btn btn-secondary">Aanmelden</button>
            </form>
            <div class="alert-success" id="msg-form-wysija-html5a663131b3133-2"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="text-md-left text-center p-4 bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="my-3 col-lg-4 col-md-6">
            <h3>KloosterBoerderijFestival</h3>
            <p class="text-muted">10 - 17 augustus 2018</p>
            <p class="my-3">Nieuw Sion
              <br>Vulikerweg 6
              <br>7431 PJ Diepenveen&nbsp;</p>
            <a class="btn btn-lg btn-primary" href="#">Meld je nu aan!</a>
          </div>
          <div class="my-3 col-lg-4 col-md-6">
            <h3>Contact us</h3>
            <form>
              <fieldset class="form-group my-3">
                <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
              <fieldset class="form-group my-3">
                <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
              <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
          </div>
          <div class="col-lg-1"> </div>
          <div class="my-3 col-lg-3">
            <h3>Social media</h3>
            <a href="https://www.facebook.com/kloosterboerderijfestival/" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">© Copyright 2018 KloosterBoerderijFestival</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript dependencies -->
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Script: Smooth scrolling between anchors in the same page -->
    <script src="js/smooth-scroll.js"></script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
      <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
    </pingendo>
  </div>
</body>

</html>
